body {
  padding: 0px;
  width: 500px;
  height: 600px;
}

#main_container {
  padding: 0;
  margin: 0;
}

.search-box {
  position:fixed;
}

.tab-results {
  position:relative;
  overflow-y:scroll;
  overflow-x:hidden;
  width: 500px;
  height: 540px;
}

.tab-result-item img {
  float: left;
  margin: 2px 10px;
}

.tab-result-item span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
